body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #222;
    background-color: #f5f5f5; /* 这里使用您选择的颜色 */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: background-image 1s ease-in-out;
}

.title {
    text-align: center;
    color: #1c2e40;
    margin-bottom: 20px;
}

h2 {
    color: #243748;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}